.admin-panel{
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    .my-blogs{
        gap: 20px;
        .heading{
            gap: 20px;
            button{
                background-color: black;
                width: 10vw;
                color: white;
                border: none;
                border-radius: 50px;
                cursor: pointer;
            }
        }
        .blog{
            gap: 20px;
            .content{
                gap: 5px;
            }
        }
    }
    .participation{
        gap: 20px;
        .participant{
            gap: 20px;
            button{
                background-color: black;
                width: 7vw;
                height: 20px;
                color: white;
                border: none;
                border-radius: 50px;
                cursor: pointer;
            }
        }
    }
}