main{

    background-image: url("../../public/home-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    // padding: 50px;
    // margin: 0 auto;
    // // width: 100vw;
    height: 100vh;

    header{
        padding: 50px;
        justify-content: space-between;
        align-items: center;
        .logo{
            font-size: 35px; 
        }
        a{
            text-decoration: none;
            color: white;
        }
        nav{
            font-size: 20px;
            gap: 40px;
        }
    }

    .hero{
        color: white;
        margin-top: calc(20vh - 85px);
        align-items: center;
        justify-content: center;

        span{
            font-family: 'Crimson Pro', serif;
            font-size: 110px;

            .since{
                margin-top: 10px;
                font-size: 40px;
            }
        }
        .arrow{
            margin-top: 20px;
            font-size:60px;
        }
    }
   
}