.page-description{
    padding: 50px;
    gap: 100px;
    .heading{
        width: 50%;
        font-size: 50px;
    }
    .desciption{
        width: 50%;
        font-size: 19px;
        line-height: 30px;
        .description-links{
            gap: 20px;
        }
        a{
            text-decoration: underline;
            color: rgb(165, 165, 165);
        }
    }
}