.single-blog{
    padding: 50px 300px 50px 300px;
    gap: 50px;
    h1{
        font-size: 50px;
    }
    img{
        max-width: 100%;
    }
    p{
        line-height: 25px;
    }
    button{
        cursor: pointer;
        width: 3vw;
        color: red;
        background-color: white;
        border: 1px solid red;
        border-radius: 10px;
        height: 3vh;
    }
    button:hover{
        
        color: white;
        background-color: red;
        
    }
}