<footer class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Social Icons</h5>
                        <ul class="list-unstyled d-flex">
                            <li class="me-3"><a href="#"><i style="font-size: large;" class="fab fa-linkedin"></i></a></li>
                            <li class="me-3"><a href="#"><i style="font-size: large;" class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i style="font-size: large;" class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 mt-3">
                        <h5>Contact</h5>
                        <p>Email: example@example.com</p>
                        <p>Phone: +1 (123) 456-7890</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
