{% extends "layout.html" %}

{% block body %}

<br>
<h2>Gallery</h2>
<hr>

<!-- Gallery section -->
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 1">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 2">
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 3">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 4">
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 3">
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img-top" alt="Image 4">
        </div>
    </div>
</div>

{% endblock %}