{% extends "layout.html" %}

{% block body %}

<!-- Homepage heading -->
<div style="padding: 20vh 0 20vh 0;" class="text-center mt-5">
    <h1 class="display-1">Life of a Maverick</h1>
</div>

<!-- Blogs section -->
<div class="row mt-5">
    <div style="margin-bottom: 20px;">
        <div class="card" style="padding: 10px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img" alt="Blog Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>A Tour to Dharamshala</b></h5>
                        <p class="card-text">Dharamshala (/ˈdɑːrəmʃɑːlə/, Hindi: [d̪ʱərmʃaːlaː]; also spelled Dharamsala) is a town in the Indian state of Himachal Pradesh. It also serves as the winter capital of the state and the administrative headquarters of the Kangra district since 1855.[5][6][7] The town also hosts the the Tibetan Government-in-exile. Dharamshala was a Municipal council till 2015 when it was upgraded to a Municipal corporation.</p>
                        <a href="/blog" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px;">
        <div class="card" style="padding: 10px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img" alt="Blog Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>A Tour to Dharamshala</b></h5>
                        <p class="card-text">Dharamshala (/ˈdɑːrəmʃɑːlə/, Hindi: [d̪ʱərmʃaːlaː]; also spelled Dharamsala) is a town in the Indian state of Himachal Pradesh. It also serves as the winter capital of the state and the administrative headquarters of the Kangra district since 1855.[5][6][7] The town also hosts the the Tibetan Government-in-exile. Dharamshala was a Municipal council till 2015 when it was upgraded to a Municipal corporation.</p>
                        <a href="/blog" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div style="margin-bottom: 20px;">
        <div class="card" style="padding: 10px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{url_for('static', filename = 'dharamshala.webp')}}" class="card-img" alt="Blog Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>A Tour to Dharamshala</b></h5>
                        <p class="card-text">Dharamshala (/ˈdɑːrəmʃɑːlə/, Hindi: [d̪ʱərmʃaːlaː]; also spelled Dharamsala) is a town in the Indian state of Himachal Pradesh. It also serves as the winter capital of the state and the administrative headquarters of the Kangra district since 1855.[5][6][7] The town also hosts the the Tibetan Government-in-exile. Dharamshala was a Municipal council till 2015 when it was upgraded to a Municipal corporation.</p>
                        <a href="/blog" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}